body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.footer, .header, .content1{
    background-color: #1F2937;
    color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    padding:24px;
    color:#f9FAF8;
}

ul{
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
    gap:16px;
}

.content1{
    display: flex;
    padding:64px;
    gap:32px;
    justify-content: center;
    align-items: center;
}

.aHook{
    flex: 0 0 400px;
}

.hook{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hook-sub, a{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
}

.hook-sub{
    margin-bottom: 16px;
}

button{
    background-color: #3882F6;
    padding:12px 24px;
    border: 0;
    border-radius: 8px;
    color:#F9FAF8;
    font-weight: 900;
}

.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 32px 128px;
}

.title2{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    margin-bottom: 24px;
}

.container{
    display: flex;
    justify-content: center;
    gap:48px;
}

.item{
  text-align: center;
  flex:0 0 200px;
  color:#1f29379d;
}

.container img{
    border: 6px solid #3882F6;
    border-radius: 25px;
}

.content3{
    background-color: #E5E7EB;
    padding: 80px 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container{
    width:800px;
    flex: 0 0 auto;
}

.quote{
    font-size: 36px;
    color:#1f29379d;
    font-weight: 50;
    font-style: italic;
    margin-bottom: 16px;
}

.quotee{
    text-align: right;
    font-size: 24px;
    color:#1F2937;
    font-weight: 900;
    padding-right: 40px;
}

.content4{
    display:flex;
    padding:128px;
    justify-content: center;
    align-items: center;
}

.cta-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:925px;
    padding:48px;
    background-color: #3882F6;
    flex: 0 0 auto;
    border-radius: 8px;
    gap:48px;
}

.CTA{
    color:#F9FAF8;
    font-size: 18px;
    font-weight: 900;
}

.cta-text{
    color: #F9FAF8;
    font-size: 12px;
}

.newsletter-button{
    border: 1px solid #F9FAF8;
}

.footer{
    text-align: center;
    padding:24px;
}

